<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>489553833620-sd0dj2kok249makj0g2l151ep3ufaor6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.489553833620-sd0dj2kok249makj0g2l151ep3ufaor6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>489553833620-fu1bh04l982a7mj7qv3jdss4rpf6dnst.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDjZiQvoOeuUMZ-05tnZ7yBexnjcuOnhSg</string>
	<key>GCM_SENDER_ID</key>
	<string>489553833620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mestutos.Bise</string>
	<key>PROJECT_ID</key>
	<string>bise-72a67</string>
	<key>STORAGE_BUCKET</key>
	<string>bise-72a67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489553833620:ios:a693d1ee3bb2be03a24e81</string>
	<key>DATABASE_URL</key>
	<string>https://bise-72a67-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>